<%= form_with scope: :session, url: sessions_path do |f| %>
  <div class="my-5">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, placeholder: "john@mail.com", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, placeholder: "password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div>
    <%= f.submit "Log In", class: "whitespace-nowrap rounded-xl py-3 px-5 active:bg-blue-800 hover:bg-blue-700 bg-blue-600 text-white inline-block font-medium cursor-pointer"%>
    <%= link_to 'Back to users', users_path, class: "whitespace-nowrap active:bg-gray-200 rounded-xl py-3 px-5 bg-white inline-block font-medium ml-2 mb-4" %>
  </div>
<% end %>
