<div class=" mx-auto md:w-2/3 w-full mb-12 bg-gray-100 text-black-500 px-3 py-2 font-medium rounded-3xl mt-20 py-8">
  <h1 class="font-bold text-2xl text-center">Show user: <%= @user.nick_name%> </h1>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-xl inline-block" id="notice"><%= notice %></p>
    <% end %>
    <p class="my-5">
      <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Email:</strong>
      <br>
      <span><%= @user.email %></span>
    </p>
    <p class="my-5">
      <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Nickname:</strong>
      <br>
      <span><%= @user.nick_name %></span>
    </p>
    <p class="my-5">
      <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Date of birth:</strong>
      <br>
      <span><%= @user.date_of_birth.strftime("%d/%m/%Y") %></span>
    </p>
    <p class="my-5">
      <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Description:</strong>
      <br>
      <span><%= @user.description %></span>
    </p>
  </div>
  <div class="flex justify-start">
    <%= link_to 'Edit this user', edit_user_path(@user), class: "active:bg-gray-200 hover:bg-gray-50 mt-2 rounded-xl py-3 px-5 bg-white inline-block font-medium" %>
    
    <%= button_to 'Delete this user', user_path(@user), method: :delete, class: "active:bg-gray-200 hover:bg-gray-50 mt-2 ml-2 rounded-xl py-3 px-5 bg-white font-medium" %>
    
    <%= link_to 'Back to users', users_path, class: "active:bg-gray-200 hover:bg-gray-50 mt-2 ml-2 rounded-xl py-3 px-5 bg-white font-medium" %>
  </div>
</div>
