<div class="mx-auto md:w-2/3 w-full mb-12 bg-gray-100 text-black-500 px-3 py-2 font-medium rounded-3xl mt-28 py-8">
  <h1 class="font-bold text-2xl text-center">Show user: <%= @user.nick_name%> </h1>
  <div class="mx-auto">
    <div class="flex justify-between">
      <div class="w-1/2">
        <p class="my-5">
          <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Email:</strong>
          <br>
          <span><%= @user.email %></span>
        </p>
        <p class="my-5">
          <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Nickname:</strong>
          <br>
          <span><%= @user.nick_name %></span>
        </p>
        <p class="my-5">
          <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Date of birth:</strong>
          <br>
          <span><%= @user.date_of_birth.strftime("%d/%m/%Y") %></span>
        </p>
        <p class="my-5">
          <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100 w-36">Description:</strong>
          <br>
          <span><%= @user.description %></span>
        </p>
        <%= @user.books.empty? ? render('show_table_usersbook_if_empty') : render('show_table_usersbooks') %>
        <p class="mt-5 flex">
          <strong class="py-1 inline-block w-36 rounded-xl bg-gray-100">My comments:</strong>
          <br>
          <span><%= render partial: 'show_comments' %></span>
        </p>
      </div>
      <div class="m-auto flex content-center">
        <%= image_tag("avatar", :class => "object-cover h-58 w-36 rounded-lg") %>
      </div>
    </div>
    <div class="flex justify-start flex-wrap">
      <% if logged_in? && (current_user == @user || current_user.admin?) %>
        <%= link_to 'Edit this user', edit_user_path(@user), class: "whitespace-nowrap active:bg-gray-200 hover:bg-gray-50 mt-2 rounded-xl py-3 px-5 bg-white inline-block font-medium" %>
        <%= button_to 'Delete this user', user_path(@user), method: :delete, class: "whitespace-nowrap active:bg-gray-200 hover:bg-gray-50 mt-2 ml-2 rounded-xl py-3 px-5 bg-white font-medium" %>
      <% end %>
      <%= link_to 'Show all users', users_path, class: "whitespace-nowrap active:bg-gray-200 hover:bg-gray-50 mt-2 ml-2 rounded-xl py-3 px-5 bg-white font-medium" %>
    </div>
  </div>
</div>
