<header class='header-container'>
  <p class='header-logo'>
    <%= link_to 'BOOK STORE', root_path %>
  </p>
  <ul id="list-header">
    <% if logged_in? %>
      <%= link_to 'Users', users_path, class: 'font-light py-2 px-5' %>
      <%= button_to "Log out", sessions_path, method: :delete, class: 'font-light py-2 px-5' %>
      <%= link_to "Profile", current_user, class: 'font-light py-2 px-5' %>
    <% else %>
      <%= link_to 'Log In', sessions_login_path, class: 'whitespace-nowrap font-light py-2 px-5'%>
      <%= link_to 'Sign Up', new_user_path, class: 'whitespace-nowrap font-light py-2 px-5'%>
    <% end %>
  </ul>
</header>
<%= javascript_include_tag 'header' %>