<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag '/favicon.ico?' %>
  </head>
  <body>
    <!-- header -->
    <div>
    <%= render 'home/header'%>
    <!-- main -->
    <main>
      <% if flash[:alert]%>
        <div id="alert" class="mx-auto md:w-2/3 w-full bg-red-50 text-red-500 px-3 py-2 font-medium rounded-xl mt-24"><%= flash[:alert] %></div>
      <% end %>
      <% if notice.present? %>
        <p class="mx-auto md:w-2/3 w-full px-3 py-2 bg-green-50 text-green-500 font-medium rounded-xl mt-24" id="notice"><%= notice %></p>
      <% end %>
      <div class="flex">
        <%= yield %>
      </div>
    </main>
    <!-- footer -->
    <%= render 'home/footer'%>
  </body>
</html>